@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #F4F8FF;
  font-family: "Manrope", sans-serif;
}

.mySwiper {
  padding-top: 100px;
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  width: 50%;
}

.swiper-slide {
  text-align: center;
  width: auto;
}

.swiper-slide {}

.swiper-wrapper {}

.swiper {
  /* height: 30%; */
  /* background-color: rebeccapurple; */
  /* position: absolute; */
  /* top: 10px; */
  /* margin-top: 100px; */
  padding: 120px !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #7E53D4;
  width: 13px;
  height: 5px;
  border-radius: 2px;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #7E53D4;
  width: 20px;
  height: 5px;
  border-radius: 2px;
}

.swiper-grid-column>.swiper-wrapper {
  flex-direction: row !important;
}