@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #F4F8FF  ;
  font-family: Arial, Helvetica, sans-serif;
}

.mySwiper{
  padding-top: 100px;
}

.swiper-slide{

}

.swiper-wrapper{

}

.swiper{
  /* height: 30%; */
  /* background-color: rebeccapurple; */
  /* position: absolute; */
  /* top: 10px; */
  /* margin-top: 100px; */
  padding: 120px !important;
}